:root {
  --primary-color: #cb3238;
}

.App {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.primary-color {
  color: var(--primary-color);
}

.edit-profile {
  overflow: auto !important;
}

@media only screen and (max-width: 1000px) {
  .navigationbar {
    display: none;
  }

  .edit-profile {
    overflow: auto !important;
    text-align: center;
  }

  .top-bar {
    flex-direction: column;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .edit {
    align-items: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    display: none !important;
  }

  .greeting,
  .top-profile {
    text-align: center;
  }
}
